.carga{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -20px;

}

.imagenCarga{
    /* transform: scaleX(-1); */
    height: 200px;
    width: 200px;
    border-radius: 100px;
    opacity: 0.7;
}



.detail{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background-image: url("https://wallpapers.com/images/hd/neutral-color-background-1920-x-1080-gnm3dr6coxpbwoci.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 50vw;
    margin: -8px;
}

.contenedorGeneral{
    margin-top: 50px;
    margin-left: 215px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-image: url("https://static.vecteezy.com/system/resources/previews/011/618/094/non_2x/aesthetic-abstract-background-with-soft-pastel-color-organic-shapes-in-art-background-blob-liquid-background-with-soft-pastel-color-free-vector.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    /* height: 400px; */
    width: 900px;
    border-radius: 50px;
    /* opacity: 0.5; */
    box-shadow: 20px 20px 20px rgba(63, 63, 63, 0.5);
    
}

.detail:hover .contenedorGeneral {
    animation: vibrar 0.3s ease-out;
}

.id:hover{
    /* animation: vibrar2 1.5s ease-out; */
    transform: scale(1.1);
    opacity: 100%;
    border-radius: 20px;
    background-color: rgb(253, 187, 45);
    color: rgb(255, 255, 255);
}

.nombre:hover{
    /* animation: vibrar2 1.5s ease-in;} */
    transform: scale(1.1);
    opacity: 100%;
    border-radius: 20px;
    background-color: rgb(245, 33, 33);
    color: rgb(255, 255, 255);
}

.altura:hover{
    /* animation: vibrar2 1.5s ease-in-out;} */
    transform: scale(1.1);
    opacity: 100%;
    border-radius: 20px;
    background-color: rgb(211, 45, 233);
    color: rgb(255, 255, 255);
}
.peso:hover{
    /* animation: vibrar2 1.5s ease-in-out;} */
    transform: scale(1.1);
    opacity: 100%;
    border-radius: 20px;
    background-color: rgb(35, 151, 247);
    color: rgb(255, 255, 255);
}
.temperamento:hover{
    /* animation: vibrar2 1.5s ease-in-out; */
    transform: scale(1.1);
    opacity: 100%;
    border-radius: 20px;
    background-color: rgb(102, 228, 64);
    color: rgb(255, 255, 255);
}

.años:hover{
    /* animation: vibrar2 1.5s ease-in-out; */
    transform: scale(1.1);
    opacity: 100%;
    border-radius: 20px;
    background-color: rgb(255, 251, 0);
    color: rgb(0, 0, 0);
}
/* .imagen:hover{
    transform: scale(1.2);
} */


@keyframes vibrar2 {
    0% { transform: translate(0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(2px, -2px); }
    60% { transform: translate(-2px, 2px); }
    80% { transform: translate(2px, -2px); }
    100% { transform: translate(0); }
}


@keyframes vibrar {
    0% { transform: translate(0) rotate(0deg); }
    10% { transform: translate(2px, -7px) rotate(36deg); }
    20% { transform: translate(-4px, 1px) rotate(72deg); }
    30% { transform: translate(5px, 4px) rotate(108deg); }
    40% { transform: translate(6px, 8px) rotate(144deg); }
    50% { transform: translate(4px, -6px) rotate(180deg); }
    60% { transform: translate(-3px, 5px) rotate(216deg); }
    80% { transform: translate(2px, 5px) rotate(288deg); }
    100% { transform: translate(0) rotate(360deg); }
}

.contenedorImagen{
    display: flex;
    flex-direction: row;
}

.imagen{
    width: 550px;
    height: fit-content;
    border-radius: 40px;
    border: 3px solid white;
    /* transition: transform 0.2s; */
}



.contenedorTitulos{
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 350px;
   

}

.id{
    padding: 10px;
    background-color: rgba(253, 173, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: auto;
    width: auto;
    /* opacity: 80%; */
    transition: transform 0.4s, border-radius 0.3s;
    /* border-top-right-radius: 50px; */
}

/* .id:hover{
    background-color: rgb(14, 235, 161);
} */

.nombre{    
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: auto;
    width: auto;
    /* opacity: 80%; */
    transition: transform 0.4s, border-radius 0.3s;
}

/* .nombre:hover{
    background-color: rgb(139, 255, 43);
} */

.altura{
    padding: 10px;
    background-color: rgba(169, 8, 190, 0.6);
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: auto;
    width: auto;
    /* opacity: 80%; */
    transition: transform 0.4s, border-radius 0.3s;
}

/* .altura:hover{
    background-color: rgba(255, 240, 103, 0.815)
} */

.peso{
    padding: 10px;
    background-color: rgba(14, 133, 230, 0.6);
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: auto;
    width: auto;
    /* opacity: 80%; */
    transition: transform 0.4s, border-radius 0.3s;
}

/* .peso:hover{
    background-color: rgb(130, 255, 98);
} */

.temperamento{
    padding: 10px;
    background-color: rgba(55, 180, 17, 0.6);
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: auto;
    width: auto;
    /* opacity: 80%; */
    transition: transform 0.4s, border-radius 0.3s;
}

/* .temperamento:hover{
    background-color: rgb(243, 72, 129)
} */

.años{
    padding: 10px;
    background-color: rgba(255, 251, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: auto;
    width: auto;
    /* opacity: 80%; */
    transition: transform 0.4s, border-radius 0.3s;
    /* border-bottom-right-radius: 50px; */
}

/* .años:hover{
    background-color: rgb(75, 126, 236);
} */

.link{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 14px;
    align-items: right;
    align-content: center;
    text-align: center;
    text-decoration: none;
    margin-left: 130px;
    font-size: 18px;
    background-color: rgba(158, 3, 248, 0.9);
    height: 30px;
    width: 80px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.link:hover{
    background-color: rgb(69, 255, 162);
    color: black;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}