.home{
    background-image: url("https://img.freepik.com/vector-gratis/fondo-textura-abstracta-pastel-opaco-vector-pastel_53876-110546.jpg?w=2000");
    background-size:cover;
    background-attachment: fixed;
    height: 75vw;
    margin: -8px;
    
}
